* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    min-height: 100vh;
    padding: 80px 32px;

    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      gap: 64px;
      padding: 80px 165px;
    }
  }
}
